In [5]:
# print the duplicate elements from a string 

str1="anushka autade"
uni=[]
rep=[]

for i in str1:
    if i not in uni:
        uni.append(i)
    else:
        rep.append(i)
print(rep)
print(uni)

['a', 'a', 'u', 'a']
['a', 'n', 'u', 's', 'h', 'k', ' ', 't', 'd', 'e']

In [8]:
#without using list 
#i.e. only using string 

str1="Anushka Autade" 
str2=""
for i in str1:
    if i not in str2:
        str2=str2+i
print(str2)

Anushka tde

In [9]:
print(str2)

Anushka tde

In [10]:
str2.replace(" ","")

'Anushkatde'

In [11]:
str2.isdigit()

False

In [12]:
str2.isupper()

False

In [13]:
str2.istitle()

False

In [17]:
str1.isalpha()

False

In [15]:
str2.swapcase()

'aNUSHKA TDE'

In [20]:
str1="anushka autade"
for i in str1:
    print(i.isalpha() or i.isspace())

True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [3]:
str1="anushka"
str2=''
for i in range(len(str1)-1,-1,-1):
    str2=str2+str1[i]
print(str2)

akhsuna

In [4]:
#print all the digit of a number 268 on each line

In [8]:
n=268 
while(n!=0):
    rem=n%10
    n=n//10
    print(rem)

8
6
2

In [10]:
#palindrome number 

n=153
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem 
    n=n//10 

if rev==temp:
    print("n is palindrome")
else:
    print("not palindrome")

not palindrome

In [15]:
# spy numbers 
# if the sum of it's digit is equal to the product of it's digit 
n=123
suma=0 
prod=1
while(n!=0):
    rem=n%10
    suma+=rem
    prod*=rem
    n=n//10
if suma==prod:
    print("spy number")
else:
    print("not a spy number")

spy number

In [20]:
#check whether given number is special or not 
# special number is a number whose sum of digit + product of digit is equal to given number 
#eg. 59=5+9+5*9

n=59
temp=n
suma=0
prod=1
num=0
while(n!=0):
    rem=n%10
    suma=suma+rem
    prod=prod*rem
    n=n//10
    number=suma+prod
if temp==number:
    print("special number")
else:
    print("comman number")

special number

In [24]:
# a number which is divisible by  sum of it's digit's 

n=156
suma=0
temp=n

while(n!=0):
    rem=n%10
    suma=suma+rem 
    n=n//10
if temp%suma==0:
    print("sp number")
else:
    print("comman number")

sp number

In [33]:
# check whether the number is duck number  or not 
# number which contains zero is known as duck number 


n=205
count=0
while(n!=0):
    rem=n%10
    if rem==0:
        count=count+1
    n=n//10

if count>0:
    print("duck number")
else:
    print("not a duck number")

duck number

In [34]:
# neon number 
# where sum of the digit of squre of the number is equal to the number 
# e.g. 9..... 9*9=81 and 8+1=9

In [46]:
#sum of factorial of digit is equal to the number 

n=145 
temp=n
while(n!=0):
    rem=n%10
   
    fact=1
    suma=0
    for i in range(1,rem+1,1):
        fact=fact*i
        suma=suma+fact
    n=n//10 

if suma==temp:
    print("yes")
else:
    print("No")

No

In [25]:
n=145
temp=n
suma=0
while(n!=0):
    rem=n%10
    
    fact=1
    
    for i in range(1,rem+1):
        fact*=i 
    suma+=fact
    n=n//10
    
if suma==temp:
    print("yes")
else:
    print("No")

yes

In [28]:
n=145 
temp=n
final_sum=0
while n!=0:
    rem=n%10
    fact=1
    for i in range(rem,0,-1):
        fact*=i
    final_sum+=fact 
    n=n//10
if final_sum==temp:
    print("Yes")
else:
    print("No")

Yes

In [6]:
#string programs

#print each character of string in new line 
str1="hEHllo"
for i in str1:
    if i.isupper():
        print(i)

E
H

In [10]:
#count only uppercase letters in a string 

str1="HeLLo"
countup=0
countlo=0
for i in str1:
    if i.isupper():
        countup=countup+1
    elif i.islower():
        countlo=countlo+1
print(countup)
print(countlo)

3
2

In [11]:
#create a new string only containing the uppercase letters from a string 
str1="Its Simple"

str2=""
for i in str1:
    if i.isupper():
        str2=str2+i
print(str2)

IS

In [15]:
#create a new string with it's digit first and after that characters 

str1="NO26 Sound"
str2=""
str3=""

for i in str1:
    if i.isdigit():
        str2=str2+i
    elif i.isalpha():
        str3=str3+i
print(str2,str3)

26 NOSound

In [18]:
#create a string after removing all the spaces from it 

str1="no26 sound"
for i in str1:
   if  i.isspace():
       print(str1.replace(" ",""))

no26sound

In [19]:
#write a program to reverse the case of a string 

str1="NO Sound"
print(str1.swapcase())

no sOUND

In [23]:
# find a reverse of string 
str1="NOHSound"
rev=""
for i in range(len(str1)-1,-1,-1):
    rev=rev+str1[i]
print(rev)

dnuoSHON

In [24]:
# print the separate word in a sentence in a new line 

str1="In the top"
l=str1.split(" ")
for i in l:
    print(i)

In
the
top

In [27]:
#print only the letters starts with R 
str1="A RED SEED"

l=str1.split(" ")
for i in l:
    if i.startswith("R"):
        print(i)

RED

In [29]:
# print the words ends with ed

for i in l:
    if i.endswith("ED"):
        print(i)

RED
SEED

In [33]:
# prints the words which contains e 
for i in l:
    if "E" in i:
        print(i)

RED
SEED

In [34]:
# print the words with length 3 

for i in l:
    if len(i)==3:
        print(i)

RED

In [35]:
# print all the special word 
#e.g. Anna ,bob 

str1="mom or dad"
l=str1.split(" ")
for i in l:
    if i[0]==i[len(i)-1]:
        print(i)

mom
dad

In [38]:
#find the longest word from string 
str1="a RED SEED"
l=str1.split(" ")
l2=[]
for i in l:
    l2.append(len(i))
if len(i)==max(l2):
    print(i)

SEED

In [39]:
#count number of words in a string 

print(len(l))

3

In [40]:
# if ends with d then count how many words are there 
str1="a red seed "
l=str1.split(" ")
cnt=0
for i in l:
    if i.endswith("d"):
        cnt=cnt+1 
print(cnt)

2

In [42]:
#change red with blue word 

str1="a red seed"
l=str1.split(" ")
str2=""
for i in l:
    l[1]="blue"
    str2=" ".join(l)
print(str2)

a blue seed

In [44]:
# delete the word red and print the statement

str1="a red seed"
l=str1.split(" ")
str2=""
for i in l:
    if i=="red":
        l.remove(i)
        str2=" ".join(l)
print(str2)

a seed

In [47]:
#find a factors of number 
n=8 

for i in range(1,n+1):
    if n%i==0:
        print(i)

1
2
4
8

In [50]:
#number is prime or not 

n=int(input("enter any number"))

enter any number 10

In [51]:
cnt=0 
for i in range(2,n):
    if n%i==0:
        cnt=cnt+1 
if cnt>0:
    print("not prime")
else:
    print("prime")

not prime

In [54]:
# composite number
num=int(input())

 13

In [56]:

cnt=0
for i in range(1,num+1):
    if num%i==0:
        cnt=cnt+1 
if cnt>2:
    print("composite number")
else:
    print("not composite number")

not composite number

In [59]:
#perfect number
# a perfect number is a sum of it's factors except itself 
n=6
temp=n
suma=0
for i in range(1,n):
    if n%i==0:
        suma+=i
if suma==temp:
    print("perfect number")
else:
    print("not perfect")

perfect number

In [74]:
#find a number is abudant or not 
#abudant number -sum of factors of a number is greator than the number(do not count number while calculating it's factors)

num=12 
temp=num
suma=0
for i in range(1,num):
    if n%i==0:
        suma+=i
print(suma)
if suma>num:
   print("abundant")
else:
    print("not abundant")

12
not abundant

In [1]:
# arithmatic series 
# print the sum of arithmetic series


#1+2+3+4+5+....+n 

n=int(input("enter any number "))
suma=0
for i in range(1,n+1):
    suma=suma+i
print(suma)

enter any number  15

120

In [5]:
#9,13,17,.....,N

n=int(input("enter any number "))
suma=0
for i in range(1,n+1,4):
    suma=suma+i
    #print(i)
print(suma)

enter any number  15

28

In [7]:
#2,4,6,8.....,N

n=int(input("enter any number "))
suma=0
for i in range(2,n+1,2):
    suma=suma+i
    print(i)
print(suma)

enter any number  20

2
4
6
8
10
12
14
16
18
20
110

In [9]:
#1,3,5,7.....,N

n=int(input("enter any number "))
suma=0
for i in range(1,n+1,2):
    suma=suma+i
    #print(i)
print(suma)

enter any number  15

64

In [12]:
#10,9,8,7.....,1

n=int(input("enter any number "))
suma=0
for i in range(n,0,-1):
    suma=suma+i
    #print(i)
print(suma)

enter any number  10

10
9
8
7
6
5
4
3
2
1
55

In [13]:
#geometric series 

#x^1+x^2+..............+x^n

x=2
n=10
sum=0
for i in range(1,n+1):
    sum=sum+pow(x,i)
print(sum)

2046

In [14]:
x=2
n=10
sum=0
for i in range(1,n+1,4):
    sum=sum+pow(i,x)
print(sum)

107